<!DOCTYPE html>
<html lang="en" class="bgdpost">

<head>
    <title>Add Post</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Home_style.css')}}">
</head>

<body>
    <h1 class="adppost">Add New Post</h1>
    <form class="addp" action="/postinsertdata" method="post">
        <table class="adpot" border="1px">
            <tr>
                <td>Author name</td>
                <td><input class="inp" type="text" name="author"></td>
            </tr>
            <tr>
                <td>Blog title</td>
                <td><input class="inp" type="text" name="title"></td>
            </tr>
            <tr>
                <td>Blog</td>
                <td><textarea class="inp" name="blog" id="" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td><button class="my-button">Add</button></td>
            </tr>

        </table>

    </form>
</body>

</html>