<!DOCTYPE html>
<html lang="en" class="addpo">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Home_style.css')}}">
</head>

<body>
    <h1 class="welaut">Welcome To Author Interface</h1>
    <div class="postt">
        <a href="/addpost">
            <button class="add">ADD POST</button></a>
        <a href="/yourpost">
            <button class="add">VIEW POST</button></a>

    </div>
</body>

</html>