<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Home_style.css')}}">
</head>

<body>
    <div class="home">

        <h1 class="heading">Home Page</h1>
        <div class="btn-section">
            <button class="btn"><a class="anchor" href="/registerauthor">Register As Author</a></button>
            <button class="btn"><a class="anchor" href="/Loginasauthor">Login As Author</a></button>
            <button class="btn"><a class="anchor" href="/Userregistrationform">Register As User</a></button>
            <button class="btn"><a class="anchor" href="/Loginasuser">Login As User</a></button>
        </div>

    </div>
</body>

</html>